#root1 {
background-color: green;
position: relative;
bottom: 340px;
left:60%;
width: 500px;
height: 600px;

}

#root1 #show{
    background-color: hotpink;
    width: 500px;
    height: 100px;
    
}

#text{
    color: black;
}